body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    #nav{
        border-bottom: $border;
        width: $navWidth;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 3%;
        #b{
            font-family: $title;
            font-size: 50px;
            margin: 0;
        }
        #beers{
            font-family: $title;
            font-size: 50px;
            margin: 0;
            color: #F8CE01;
        }
        #beer-icon{
            width: 6%;
            height: 6%;
            transform: rotate(5deg);
        }
    }
}